.header {
  height: 200px;
}

.header-content-wrapper {
  background: url("../../../assets/weather-app-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.header-content-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
