.weather-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: auto;
}

.weather-info h3 {
  z-index: 1;
  font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  .weather-info h3 {
    font-size: 0.9rem;
  }
}
