.humidity {
  display: flex;
  flex-direction: column;
}

.humidity-percentage {
  font-weight: 500;
  font-size: 2.8rem;
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
  .humidity-percentage {
    font-size: 2.3rem;
    text-align: center;
  }
}
